{% extends "lodge/layout.html" %}

{% block body %}
 
    <h1>{% now "l jS F Y" %}  </h1>
   
    <h2>Guest list</h2>
    <ul>
        {% for booking in bookings %}  
            <li>{{ booking.customer_id}} </li>           
        {% empty %}
            <li>No guests to check in</li>
        {% endfor %}
    </ul>


    
    <h2> Checked in</h2>

    <ul>
        {% for checkin in checkins %}  
            <li>{{ checkin.customer_id}} </li>           
        {% empty %}
            <li>No guests checked in. Where are they??</li>
        {% endfor %}
    </ul>   
    
   

    <h1> </h1>

    <h2>Check in guest</h2>  
   
    <h1> </h1>

    <form>
        <input autocomplete="off" autofocus id="name" placeholder="Name" type="text">
        <input type="submit">
    </form>
    <script>

        document.querySelector('form').addEventListener('submit', function(event) {
            alert('All checked in, ' + document.querySelector('#name').value + '. Enjoy your stay!');
            event.preventDefault();
        });

    </script>

    <h1> </h1>

    <a href="{% url 'index' %}">Back to Home Page</a>
{% endblock %}

